node_modules/

dist/
build/

*.log
*.tmp

.env

.DS_Store
Thumbs.db
.vscode/
.idea/

.git/

*.bak
*.swp

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/

library-management-frontend/build/

library-management-frontend/package-lock.json
library-management-backend/package-lock.json
